{% extends "_layouts/cp" %}

{% if isUserHelpUs %}
    {% do view.registerAssetBundle("infoservio\\stripedonation\\assetbundles\\logrocket\\LogRocketAssetBundle") %}
{% endif %}

{% do view.registerAssetBundle("infoservio\\stripedonation\\assetbundles\\settings\\StripeDonationSettingsAssetBundle") %}
{% do view.registerAssetBundle("infoservio\\stripedonation\\assetbundles\\sidebar\\SidebarAssetBundle") %}
{% do view.registerAssetBundle("infoservio\\stripedonation\\assetbundles\\parsley\\ParsleyAssetBundle") %}
{% set title = "Stripe Donation Manager"|t('app') %}
{% block sidebar %}
    <div class="sidebar-header">
        <h3>Sidebar Menu</h3>
    </div>

    <!-- Sidebar Links -->
    <ul class="list-unstyled components">
        <li class="sidebar-item"><a href="/admin/stripe-donation/invoice">Invoice Manager</a></li>
        <li class="active sidebar-item"><a href="/admin/stripe-donation/settings">Settings Manager <i class="sidebar-icon material-icons">keyboard_arrow_right</i></a></li>
        <li class="sidebar-item"><a href="/admin/stripe-donation/donation-form">Using Stripe Donation Form</a></li>
    </ul>
{% endblock %}
{% block content %}
    <h1>Settings Manager</h1>
    <form method="post" action="" id="settings-form">
        {#<input hidden name="_csrf" />#}
        <div class="form-group">
            <label for="inputCompanyName">Non Profit Company Name</label>
            <small id="companyNameHelp" class="form-text text-muted">This company name will be added to the invoice for user after donation.'</small>
            <input id="companyName" name="companyName" class="form-control" aria-describedby="companyNameHelp"
                   value="{{ settings['companyName'] }}"
                   placeholder="Enter company name"
                   data-parsley-required
            />
        </div>
        <div class="form-group">
            <label for="inputCompanyEmail">Non Profit Company Email</label>
            <small id="companyEmailHelp" class="form-text text-muted">This company email will be added to the invoice for user after donation.'</small>
            <input id="companyEmail" name="companyEmail" class="form-control" aria-describedby="companyEmailHelp"
                   value="{{ settings['companyEmail'] }}"
                   placeholder="Enter company email"
                   data-parsley-required
            />
        </div>
        <div class="form-group">
            <label for="inputCompanyTelephone">Non Profit Company Telephone</label>
            <small id="companyTelephoneHelp" class="form-text text-muted">This company telephone will be added to the invoice for user after donation.'</small>
            <input id="companyTelephone" name="companyTelephone" class="form-control" aria-describedby="companyTelephoneHelp"
                   value="{{ settings['companyTelephone'] }}"
                   placeholder="Enter company telephone"
                   data-parsley-required
            />
        </div>
        <div class="form-group">
            <label for="inputCompanyAddress">Non Profit Company Address</label>
            <small id="companyAddressHelp" class="form-text text-muted">This company address will be added to the invoice for user after donation.'</small>
            <input id="companyAddress" name="companyAddress" class="form-control" aria-describedby="companyAddressHelp"
                   value="{{ settings['companyAddress'] }}"
                   placeholder="Enter company address"
                   data-parsley-required
            />
        </div>
        <div class="form-group">
            <label for="inputTemplateName">Success Message</label>
            <small id="nameHelp" class="form-text text-muted">Success message for user after successfull donation.</small>
            <textarea name="successMessage" type="text" class="form-control" id="successText" aria-describedby="nameHelp"
                   placeholder="Enter Template Name"
                   data-parsley-required>
                {{ settings['successMessage'] }}
            </textarea>
        </div>
        <div class="form-group">
            <label for="inputTemplateSlug">Error Message</label>
            <small id="errorTextHelp" class="form-text text-muted">Error message for user after failed donation.</small>
            <textarea name="errorMessage" type="text" class="form-control" id="errorText" aria-describedby="errorTextHelp"
                   placeholder="Enter Error Message"
                   data-parsley-required>
                {{ settings['errorMessage'] }}
            </textarea>
        </div>
        <button type="submit" class="btn btn-primary form-btn pull-right" id="submit-btn">Update</button>
    </form>

    <script src="https://cdn.ckeditor.com/4.7.3/standard/ckeditor.js"></script>
    <script>
        CKEDITOR.replace('successText');
        CKEDITOR.replace('errorText');
    </script>
{% endblock %}