{% import "_includes/forms" as forms %}

<h1>Current version of plugin is: <b>{{ plugin['version'] }}</b> </h1>
<h2>Want to read docs about current version of plugin. Go to <a href="https://donatefast.infoserv.io/">docs</a>.</h2>

{{ forms.textField({
    label: 'Secret Key',
    instructions: 'Get this parameter from your stripe account.',
    id: 'stripeSecretKey',
    name: 'stripeSecretKey',
    value: settings['stripeSecretKey'],
    required: true,
    element: true
})
}}

{{ forms.textField({
    label: 'Publishable Key',
    instructions: 'Get this parameter from your stripe account.',
    id: 'stripePublishableKey',
    name: 'stripePublishableKey',
    value: settings['stripePublishableKey'],
    required: true
})
}}
<div>
{{ forms.checkbox({
    label: 'Help us improve our product',
    instructions: 'You can help us improve our product. Be responsible user.',
    id: 'helpUsImproveOurProduct',
    name: 'helpUsImproveOurProduct',
    checked: settings['helpUsImproveOurProduct']
})
}}
</div>
<div>
{{ forms.checkbox({
    label: 'Send receipt email using Stripe',
    instructions: 'You can send email receipts using default Stripe or you can send email using Fast Sendnote where you can change email template as you want.',
    id: 'sendStripeEmailReceipt',
    name: 'sendStripeEmailReceipt',
    checked: settings['sendStripeEmailReceipt']
})
}}
</div>


