{% extends "_layouts/cp" %}

{% if isUserHelpUs %}
    {% do view.registerAssetBundle("infoservio\\donatefast\\assetbundles\\logrocket\\LogRocketAssetBundle") %}
{% endif %}

{% do view.registerAssetBundle("infoservio\\donatefast\\assetbundles\\sidebar\\SidebarAssetBundle") %}
{% do view.registerAssetBundle("infoservio\\donatefast\\assetbundles\\template\\main\\TemplateAssetBundle") %}
{% set title = "Invoice Manager"|t('app') %}
{% set deliveredIcon = view.getAssetManager().getPublishedUrl('@infoservio/donatefast/assetbundles/template/main/dist', true) ~ '/img/delivered.png' %}
{% set droppedIcon = view.getAssetManager().getPublishedUrl('@infoservio/donatefast/assetbundles/template/main/dist', true) ~ '/img/dropped.png' %}
{% set openedIcon = view.getAssetManager().getPublishedUrl('@infoservio/donatefast/assetbundles/template/main/dist', true) ~ '/img/opened.png' %}
{% block sidebar %}
    <div class="sidebar-header">
        <h3>Sidebar Menu</h3>
    </div>

    <!-- Sidebar Links -->
    <ul class="list-unstyled components">
        <li class="active sidebar-item"><a href="/admin/donate-fast/invoice">Invoice Manager <i class="sidebar-icon material-icons">keyboard_arrow_right</i></a></li>
        <li class="sidebar-item"><a href="/admin/donate-fast/settings">Settings Manager</a></li>
        <li class="sidebar-item"><a href="/admin/donate-fast/donation-form">Using Donate Fast</a></li>
    </ul>
{% endblock %}
{% block content %}
    <table id="invoice-table" class="table table-hover">
        <thead>
        <tr>
            {% for col in columns %}
                <th>{{ col }}</th>
            {% endfor %}
            <th>Actions</th>
        </tr>
        </thead>
        <tfoot>
        <tr>
            {% for col in columns %}
                <th>{{ col }}</th>
            {% endfor %}
            <th></th>
        </tr>
        </tfoot>
        <tbody>
        {% for record in records %}
            <tr>
                <th scope="row">{{ record.id }}</th>
                {% set card = record.getCard() %}
                {% set customer = card.getCustomer() %}
                {% set mail = record.getMail() %}
                <td>{{ record.chargeId }}</td>
                <td>{{ customer.email }}</td>
                <td>{{ record.projectId }} - {{ record.projectName }}</td>
                <td>$ {{ (record.amount)|number_format(2, '.', ',') }}</td>
                <td>{{ record.dateCreated }}</td>
                {#<td><img src="{{ mail ? (mail.isOpened ? openedIcon : deliveredIcon) : droppedIcon }}"#}
                         {#title="{{ mail ? (mail.isOpened ? 'Opened' : 'Delivered') : 'Dropped' }}"#}
                         {#height="30"#}
                    {#style="margin-left: 20px"/></td>#}
                <td class="icons">
                    <a href="/admin/donate-fast/invoice/view?id={{ record.id }}" class="glyphicon glyphicon-eye-open invoice-icon" title="View"></a>
                    <a href="/admin/donate-fast/invoice/send?id={{ record.id }}" class="glyphicon glyphicon-envelope send-email invoice-icon"  value="{{ record.id }}" title="Send"></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}