<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
    <meta name="viewport" content="width=device-width">
    {% block head %}{% endblock %}
</head>
<body>
<div class="overlay">
</div>
    <div class="success-panel">
        <img class="success-logo" />
        <div class="panel-body">
            <div style="display: flex; justify-content: space-between;">
                <div class="return-back">
                    <a href="{{ baseUrl }}">Return back to the page</a>
                </div>
                <div>
                    <h4><span>$ </span><span  id="success-amount">{{ resetForm['amount'] }}</span></h4>
                </div>
            </div>
            <div class="successMessage">
                {{ successMessage | raw }}
            </div>
            <div>
                <h2>Project Information</h2>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <label class="donation-name">Project Name</label>
                        <p class="donation-value">{{ resetForm['projectName'] }}</p>
                    </div>
                    <div class="col-sm-6">
                        <label class="donation-name">Project ID</label>
                        <p class="donation-value">{{ resetForm['projectId'] }}</p>
                    </div>
                </div>
            </div>
            <div>
                <h2>Contact Information</h2>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <label class="donation-name">First Name</label>
                        <p class="donation-value">{{ resetForm['firstName'] ? resetForm['firstName'] : '-' }}</p>
                    </div>
                    <div class="col-sm-6">
                        <label class="donation-name">Last Name</label>
                        <p class="donation-value">{{ resetForm['lastName'] ? resetForm['lastName'] : '-' }}</p>
                    </div>
                    <div class="col-sm-6">
                        <label class="donation-name">Email</label>
                        <p class="donation-value">{{ resetForm['email'] ? resetForm['email'] : '-' }}</p>
                    </div>
                    <div class="col-sm-6">
                        <label class="donation-name">Phone</label>
                        <p class="donation-value">{{ resetForm['phone'] ? resetForm['phone'] : '-' }}</p>
                    </div>
                </div>
            </div>
            <div>
                <h2>Address Information</h2>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <label class="donation-name">Postal Code</label>
                        <p class="donation-value">{{ resetForm['postalCode'] ? resetForm['postalCode'] : '-' }}</p>
                    </div>
                    <div class="col-sm-6">
                        <label class="donation-name">Country</label>
                        <p class="donation-value">{{ resetForm['countryId'] ? resetForm['countryId'] : '-' }}</p>
                    </div>
                    <div class="col-sm-6">
                        <label class="donation-name">State</label>
                        <p class="donation-value">{{ resetForm['state']  ? resetForm['state'] : '-' }}</p>
                    </div>
                    <div class="col-sm-6">
                        <label class="donation-name">City</label>
                        <p class="donation-value">{{ resetForm['city'] ? resetForm['city'] : '-' }}</p>
                    </div>
                    <div class="col-sm-6">
                        <label class="donation-name">Address 1</label>
                        <p class="donation-value">{{ resetForm['streetAddress'] ? resetForm['streetAddress'] : '-' }}</p>
                    </div>
                    <div class="col-sm-6">
                        <label class="donation-name">Address 2</label>
                        <p class="donation-value">{{ resetForm['extendedAddress'] ? resetForm['extendedAddress'] : '-' }}</p>
                    </div>
                    <div class="col-sm-6">
                        <label class="donation-name">Company</label>
                        <p class="donation-value">{{ resetForm['company'] ? resetForm['company'] : '-' }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>